@import url(globalStyles.css);

body {
    max-width: 100vw;
}

/* === Header === */

.header__container {
    background-color: var(--gray-1);
    border-bottom: solid .0625rem var(--brand-1);
    padding: 1.25rem 14.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: sticky;
    left: 0rem;
    top: 0rem;
    z-index: 1;
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header__button--modal {
    padding: 1.25rem 2rem;
    border: solid .0625rem var(--gray-7);
    background-color: transparent;
    color: var(--gray-7);
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5rem;
}

.header__button--modal:hover {
    background-color: var(--brand-2);
    border-color: var(--brand-2);
    transition: ease 0.5s;
    cursor: pointer;
}

/* ===== Main Style ===== */

.main__container {
    margin: 0 auto;
}

/* ===== Intro Section ===== */

.section__container--intro {
    background-color: var(--gray-2);
    padding: 15.625rem 14.75rem;
}

.section__content--intro {
    display: flex;
    flex-direction: column;
    gap: 2.75rem;
    align-items: center;
    max-width: 1256px;
    margin: 0 auto;
}

.main__section--title {
    color: var(--gray-7);
    font-size: 3.25rem;
    line-height: 4.55rem;
    font-weight: 600;
    text-align: center;
}

.span--highlight {
    color: var(--brand-1);
}

.section__paragraph--intro {
    color: var(--gray-4);
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    width: 50%;
}

.section__button--aboutus {
    padding: 1.25rem 2rem;
    border: solid .0625rem transparent;
    background-color: var(--brand-1);
    color: var(--gray-7);
    font-size: 1rem;
    font-weight: 600;
}

.section__button--aboutus:hover {
    background-color: var(--brand-2);
    border-color: var(--brand-2);
    transition: ease 0.5s;
    cursor: pointer;
}

/* ===== About Section ===== */

.section__container--about {
    background-color: var(--gray-1);
    padding: 5.125rem 14.75rem;
}

.section__content--about {
    display: flex;
    gap: 3.5rem;
    justify-content: space-between;
    align-items: center;
    max-width: 1256px;
    margin: 0 auto;
}

.about__container {
    width: 50%;
}

.section__about--title {
    line-height: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--gray-6);
}

.section__about--paragraph {
    line-height: 1.875rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-5);
    text-align: justify;
}

/* ===== FAQ ===== */

.section__container--faq {
    background-color: var(--gray-2);
    padding: 5.125rem 14.75rem;
}

.section__content--faq {
    display: flex;
    gap: 3.5rem;
    max-width: 1256px;
    margin: 0 auto;
}

/* ===== Left Side ===== */

.faq__container--left {
    padding: 0rem 5.4375rem 0rem 0rem;
}

.faq__content--left {
    display: flex;
    flex-direction: column;
    gap: 2.0625rem;
    position: sticky;
    top: 10rem;
    left: 0rem;
}

.faq__title {
    line-height: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--gray-6);
}

.faq__paragraph {
    line-height: 1.875rem;
    font-size: 1.25rem;
    color: var(--gray-4);
    text-align: justify;
}

.button__faq--modal {
    padding: 1.25rem 2rem;
    border: solid .0625rem transparent;
    background-color: var(--brand-1);
    color: var(--gray-7);
    font-size: 1rem;
    font-weight: 600;
    align-self: self-start;
}

.button__faq--modal:hover {
    background-color: var(--brand-2);
    border-color: var(--brand-2);
    transition: ease 0.5s;
    cursor: pointer;
}

/* ===== Right Side ===== */


.list__questions__container {
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
    padding: 0rem 0rem 0rem 7rem;
}

.questions__container--content {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.questions__title {
    line-height: 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray-6);
    text-align: center;
}

.questions__paragraph {
    line-height: 1.875rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-4);
    text-align: justify;
}

/* ===== Comments Section ===== */

.section__container--comments {
    background-color: var(--gray-2);
    padding: 5.125rem 14.75rem;
}

.comments__container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    max-width: 1256px;
    margin: 0 auto;
}

/* ===== Right Side ===== */

.section__comments__content--right {
    padding: 0rem 0rem 0rem 5.4rem;
    width: 40%;
}

.comments__title--container {
    background-color: var(--brand-1);
    display: flex;
    flex-direction: column;
    gap: 2.1875rem;
    padding: 5rem 3.25rem;
    width: 80%;
    position: sticky;
    top: 10rem;
    right: 0rem;
}

.comments__title {
    line-height: 4rem;
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--gray-7);
}

.comments__paragraph {
    line-height: 1.875rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-7);
    text-align: justify;

}

/* ===== Left Side ===== */

.section__comments__content--left {
    width: 50%;
}

.comments__list__container {
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.comments__content {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.name-year__container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.comment--name {
    line-height: 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray-6);
}

.comment--year {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-4);
}

.comment {
    line-height: 27px;
    font-size: 1.125rem;
    font-weight: 400;
    color: var(--gray-5);
    text-align: justify;
    width: 65%;
}

.footer__container {
    background-color: var(--gray-1);
    padding: 3.125rem;
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    justify-content: center;
}

/* ===== Modal ===== */

.modal__container {
    background-color: var(--gray-2);
    border: solid .125rem var(--brand-1);
}

.modal__container::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.modal__content {
    width: 25rem;
    padding: 2.5rem 1.75rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.modal__title__content {
    display: flex;
    justify-content: space-between;
}

.modal__title {
    line-height: 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--gray-7);
    justify-content: center;
}

.modal--close {
    width: 2rem;
    height: 2rem;
    border: solid .125rem transparent;
    border-radius: .25rem;
    padding: 0rem .75rem;
    background-color: var(--gray-3);
    line-height: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: var(--gray-4);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal--close:hover {
    cursor: pointer;
    background-color: var(--gray-1);
    transition: 0.5s ease;
}

.modal__paragraph {
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: var(--gray-4);
    text-align: justify;
}

.modal__input {
    padding: .875rem 1.25rem;
    background-color: var(--gray-1);
    border: solid .0625rem var(--gray-1);
    line-height: 1.875rem;
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-4);
}

.modal__input:focus {
    outline: none;
}

.modal__input:focus::placeholder {
    opacity: 0;
}

.modal__input:valid {
    background-color: var(--gray-3);
}

.modal__button--submit {
    padding: 1rem 2rem;
    background-color: var(--brand-1);
    border: solid 1px var(--brand-1);
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--gray-7);
    text-align: center;
}