@import url(globalStyles.css);

body {
    max-width: 100vw;
}

/* ===== Main Style ===== */

.main__container {
    margin: 0 auto;
}

/* ===== Footer ===== */

.footer__container {
    background-color: var(--gray-1);
    padding: clamp(2.5rem, 1.784rem + 1.117vw, 3.125rem);
    position: relative;
    bottom: 0px;
    left: 0px;
    z-index: 0;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .footer__container {
        padding: clamp(2rem, 1.427rem + 0.894vw, 2.5rem);
    }
}